<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="PlanetExpo Assignment Test Suite">

	<listeners>
		<listener class-name="com.qa.ExtentReportListener.ExtentReporterNG" />
		
	</listeners>


	<test name="Planet Expo Test Cases">
		<classes>
			
			
            <class name="com.qa.testcases.ExpoPlanetDocPageTest"></class>
            <class name="com.qa.testcases.ExpoPlanetJsonPageTest"></class>
			
			</classes>
				
			
	</test>
</suite>